   *{
        font-family: 'Open Sans';
   }
   .main-container{
       text-align: center;
       align-items: center;
   }
   th {
     padding: 12px;
     text-align: left;
     background-color: #04AA6D;
     color: white;
   }
   td, th {
     border: 1px solid #ddd;
     padding: 8px;
   }
   
   .table-container{
       text-align: center;
   }
   table {
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 20px;
   }
   
   .btn-container{
       text-align: center;
       align-items: center;
       color: green;
   }
